
<!DOCTYPE html>
<html>
<head>
	<title>index</title>
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
</head>
<body>
	<div class="main">  	
		<input type="checkbox" id="chk" aria-hidden="true">

			<div class="signup">
				<form method="post">
					{% csrf_token %}
					<label for="chk" aria-hidden="true">Sign up</label>
					<input type="text" name="txt" placeholder="User name" required="">
					<input type="email" name="email" placeholder="Email" required="">
					<input type="password" name="pswd" placeholder="Password" required="">
					<button type="submit">Sign up</button>
					<a id="login" href="{% url 'login' %}">have account already?.</a>
				</form>
			</div>
	</div>
</body>
</html>